@model Controllers.ViewModels.Widgets.ChartWidgetViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewBag.FullScreen = true;
}

<div class="container">
    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card">
                @{ Html.RenderPartial(Model.TemplateName, Model); }
            </div>
        </div>
    </div>
</div>
