@{
    ViewData["Title"] = "Ошибка";
}

<div class="container text-center">
    <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> @(Model == 0 ? 500 : Model)</div>
    <h1 class="h2 mb-3">Упс.. Что-то пошло не так..</h1>
    <p class="h4 text-muted font-weight-normal mb-7">Сорьки&hellip;</p>
    <a class="btn btn-primary" href="javascript:history.back()">
        <i class="fe fe-arrow-left mr-2"></i>Назад
    </a>
</div>