@using Controllers.ViewModels.Widgets
@model UnconfiguredWidgetViewModel

<div class="card-body">
    <div class="row">
        <div class="col-12">
            Виджет не настроен
        </div>
    </div>
</div>
