@using System.Globalization
@using Controllers.ViewModels.Widgets
@model BurstWidgetViewModel

@{
	var chartId = Guid.NewGuid().ToString("N");

	<div class="card-body">
		<div class="h4 text-muted-dark text-center">
			@Model.Title
		</div>
	</div>
	<div class="card-chart-bg" style="height: 100%">
		<div id="burst-@chartId"></div>
	</div>
	<script type="text/javascript">
	    var rootNode = @Json.Serialize(Model.RootNode);
	    var chartId = '@chartId';
	</script>
}