@{
    ViewData["Title"] = "Browser";
}

<div class="container">
    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Chrome
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img id="screenshot" src="@Url.Action("ScreenshotFile")" width="100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        setInterval(function() {
            var myImageElement = document.getElementById('screenshot');
            myImageElement.src = '@Url.Action("ScreenshotFile")?rand=' + Math.random();
        }, 3000);
    </script>
}