@{
    ViewData["Title"] = "Script console";
}

<style type="text/css" media="screen">
    #scriptText {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 200px;
        margin: -12px -6px 6px -6px;
    }
</style>

<div class="container">
    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Script Console
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" class="form-horizontal">
                                <textarea name="script" rows="10" cols="80" class="form-control">@ViewBag.Script</textarea>
                                <div name="scriptText" id="scriptText">@ViewBag.Script</div>
                                <input type="submit" class="btn btn-primary" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    @Html.Raw(ViewBag.ScriptResult)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-csharp.js"></script>
    <script type="text/javascript">
        var textarea = $('textarea[name="script"]').hide();
        var editor = ace.edit("scriptText");
        editor.setTheme('ace/theme/monokai');
        editor.getSession().setMode('ace/mode/csharp');
        editor.getSession()
            .on('change',
            function () {
                textarea.val(editor.getSession().getValue());
            });
    </script>
}