@model Controllers.ViewModels.Widgets.BurstWidgetViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewBag.FullScreen = true;
}

<div class="container-fluid">
    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card" style="height: 1000px;">
                @{ Html.RenderPartial(Model.TemplateName, Model); }
            </div>
        </div>
    </div>
</div>
